
<h1>Transactions for <%= user.username %></h1>
<p>Transactions Grouped by Category</p>


<div class="table-responsive">
    <table class="table">
      <thead>
        <tr><th>category</th><th>amount</th</tr>
      </thead>
      <tbody>
        <% categories.forEach(category => { %>
            <tr>
                <td><%= category %></td>
                <td><%= sumAmount[category] %></td>
            </tr><% }); %>
      </tbody>
    </table>
  </div>
